<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <h3 class="text-center">Cost Predictor</h3>
    <form
      class="d-flex flex-wrap justify-content-center px-3"
      action=""
      method="post"
    >
      {% csrf_token %}
      <div class="mb-3 col-12 col-md-6 pr-3">
        <label for="floors" class="form-label">No of Floors</label>
        <input
          type="number"
          class="form-control"
          id="floors"
          name="floors"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="nrooms" class="form-label">No of Normal Rooms</label>
        <input
          type="number"
          class="form-control"
          id="nrooms"
          name="rooms"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="kitchen" class="form-label">No of Kitchens</label>
        <input
          type="number"
          class="form-control"
          id="kitchen"
          name="kitchen"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="toilet" class="form-label">No of Toilets</label>
        <input
          type="number"
          class="form-control"
          id="toilet"
          name="toilet"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="cols" class="form-label">No of Columns</label>
        <input
          type="number"
          class="form-control"
          id="cols"
          name="cols"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="height" class="form-label">Total Building Height(m)</label>
        <input
          type="text"
          class="form-control"
          id="height"
          name="height"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="floor_area" class="form-label"
          >Total Floor Area(sq.m)</label
        >
        <input
          type="text"
          class="form-control"
          id="floor_area"
          name="floor_area"
          required
        />
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="brick_area" class="form-label"
          >Total Brick Wall Area(sq.m)</label
        >
        <input
          type="text"
          class="form-control"
          id="brick_area"
          name="brick_area"
          required
        />
      </div>
      <div class="col-12 col-md-6">
        <label>Select Foundation Type</label>
        <select
          class="form-select mb-3"
          aria-label="Default select example"
          required
          name="foundation"
        >
          <option selected value="0">Deep(pile)</option>
          <option value="1">Shallow with footing</option>
          <option value="2">Shallow with mat</option>
        </select>
      </div>
      <div class="col-12">
        <button class="btn btn-sm btn-primary mb-4">Submit</button>
      </div>
    </form>

    <div style="width: 50%; margin: auto">
      <h4>Result From the above data</h4>
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Random Forest</th>
            <th scope="col">KNN</th>
            <th scope="col">XGBoost</th>
            <th scope="col">Min</th>
            <th scope="col">Max</th>
            <th scope="col">Average</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rf_predicted_cost}}</td>
            <td>{{knn_predicted_cost}}</td>
            <td>{{xgb_predicted_cost}}</td>
            <td>{{mn}}</td>
            <td>{{mx}}</td>
            <td>{{avg}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
